@model IEnumerable<Comment>

@{
    var user = ViewData["User"] as User;
    ViewData["Title"] = "User comments";

}

<h1 style="text-align:center">Comments by @user.Name</h1>

<table class="table table-striped">
    <tr>
        <th style="display: none">ID</th>
        <th>Comment</th>
        <th>Date</th>
        <th>Post</th>
    </tr>
    @foreach (var comment in Model)
    {
        <tr>
            <td style="display: none">@comment.CommentID</td>
            <td>@comment.CommentText</td>
            <td>@comment.PostDate</td>
            <td>
                <a asp-controller="Post"
                   asp-action="DetailedPost"
                   asp-route-id="@comment.PostID">@comment.Post.Title</a>
            </td>
        </tr>
    }
</table>
