@model IEnumerable<Post>

@* List of all posts posted by a user *@

@{
    ViewData["Title"] = "User posts";
}

<!-- Checks is something is posted or not -->
@if (Model.Count() > 0)
{
    <h2 style="text-align: center">List of posts from user: @Model.ElementAtOrDefault(0).User.Name</h2>
}
else
{
    <h2 style="text-align: center">User has not posted anything yet</h2>
}

<!-- Loop through all their posts -->
@foreach (var post in Model)
{
    @if (post.UserId != -1)
    {
        <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 20px;">
            <div class="container">
                <h5>@post.Title</h5>
                <div>
                    <table class="table table-striped" style="max-width: 1200px">
                        <tr class="table-header">
                            <th>Title</th>
                            <th>Date</th>
                            <th>Votes</th>
                        </tr>
                        <tr>
                            <td>
                                <a asp-controller="Post"
                                   asp-action="DetailedPost"
                                   asp-route-id="@post.PostID">@post.Title</a>
                            </td>
                            <td>@post.PostDate</td>
                            <td>@post.UpvoteCount</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    }
}
