@model UserProfileViewModel

<h1>UserProfile for: @Model.User.Name</h1>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User) && Model.User.IdentityUserId == UserManager.GetUserId(User))
{
    <h3>Manage <a asp-area="Identity" asp-page="/Account/Manage/Index">account</a></h3>
}
<h2>Credebility</h2>
<h3>Credebility score: @Model.User.Credebility creds</h3>
<h4>
    Read <a asp-controller="User"
            asp-action="CredsInfo">more</a>
</h4>

<h2>Number of posts: @Model.Posts.Count()</h2>
<h3>
    See all <a asp-controller="User"
               asp-action="Table"
               asp-route-id="@Model.User.UserId">posts</a>
</h3>

<h2>Number of comments: @Model.Comments.Count()</h2>
<h3>
    See all <a asp-controller="User"
               asp-action="Comments"
               asp-route-userID="@Model.User.UserId">comments</a>
</h3>

<h2>Number of votes: @Model.Votes.Count()</h2>
<h3>
    See all <a asp-controller="User"
               asp-action="Votes"
               asp-route-userID="@Model.User.UserId">votes</a>
</h3>
