@model IEnumerable<Post>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    /* Style buttons, from https://www.w3schools.com/howto/howto_css_icon_buttons.asp */
    .btn-arrow-up {
        color: black; /* White text */
        padding: 12px 16px; /* Some padding */
        font-size: 16px; /* Set a font size */
        cursor: pointer; /* Mouse pointer on hover */
    }

    .btn-arrow-down {
        color: black; /* White text */
        padding: 12px 16px; /* Some padding */
        font-size: 16px; /* Set a font size */
        cursor: pointer; /* Mouse pointer on hover */
    }
    /* Red background on mouse-over */
    .btn-arrow-up:hover {
        color: rgb(193, 26, 26);
    }

    /* blue background on mouse-over */
    .btn-arrow-down:hover {
        color: rgb(20, 130, 167);
    }

    /* links */
    .links {
        text-decoration: none;
    }

    .links:hover {
        text-decoration: underline;
        color: lightblue;
    }
</style>

<div class="container" style="text-align:center">
    <div>
        <a class="btn btn-secondary"
            asp-controller="Post"
            asp-action="Create">Create Post</a>
        <a class="btn btn-secondary" href="/Post/Card">Card View</a>
    </div>
    <h1>@ViewBag.CurrentViewName</h1>
    <table class="table table-striped">
        <tr>
            <th style="display: none">ID</th>
            <th>Title</th>
            <th>Date</th>
            <th>User</th>
            <th>Image</th>
            <th>Actions</th>
            <th>Votes</th>
        </tr>
        @for (int i = 0; i < Model.Count(); i++)
        @* @foreach (var post in Model) *@
        {
            <tr>
                <td style="display: none">@Model.ElementAt(i).PostID</td>
                <td>
                    <a class="links" asp-controller="Post"
                       asp-action="DetailedPost"
                       asp-route-id="@Model.ElementAt(i).PostID"
                       >@Model.ElementAt(i).Title</a>
                </td>
                @* Det over her er en link til detailed view av en post. *@
                <td>@Model.ElementAt(i).PostDate</td>
                <td>@Model.ElementAt(i).User.Name</td>
                <td>
                    <img src="@Model.ElementAt(i).ImageUrl" alt="Post image" style="max-width: 100px; max-height: 100px;" />
                </td>
                <td>
                    @{
                        //  Gets the votes from the controller in a ViewData, and formats it as 
                        //   a list. Checks if the user has voted on the post before, and displays
                        //    the correct arrows with correct colors.
                        var votes = ViewData["Votes"] as List<string>;
                        if (votes == null)
                        {
                            //  If the viewdata doesnt contain any votes, then an error occured at server. A dummy list
                            //   with the same length as list of posts is created with dummy values.
                            votes = new List<string>();
                            for (int o = 0; o < Model.Count(); o++)
                            {
                                votes.Add("blank");
                            }
                        }
                    }
                    @if (@votes.ElementAt(i) == "upvote")
                    {
                        <a class="btn-arrow-up" style="color: rgb(193, 26, 26);" asp-action="UpVote" asp-route-id="@Model.ElementAt(i).PostID"><i class="fa fa-arrow-up"></i></a>
                        <a class="btn-arrow-down" asp-action="DownVote" asp-route-id="@Model.ElementAt(i).PostID"><i class="fa fa-arrow-down"></i></a>
                    }
                    else if (@votes.ElementAt(i) == "downvote")
                    {
                        <a class="btn-arrow-up" asp-action="UpVote" asp-route-id="@Model.ElementAt(i).PostID"><i class="fa fa-arrow-up"></i></a>
                        <a class="btn-arrow-down" style="color: rgb(20, 130, 167);" asp-action="DownVote" asp-route-id="@Model.ElementAt(i).PostID"><i class="fa fa-arrow-down"></i></a>
                    }
                    else
                    {
                        <a class="btn-arrow-up" asp-action="UpVote" asp-route-id="@Model.ElementAt(i).PostID"><i class="fa fa-arrow-up"></i></a>
                        <a class="btn-arrow-down" asp-action="DownVote" asp-route-id="@Model.ElementAt(i).PostID"><i class="fa fa-arrow-down"></i></a>
                    }

                    <a class="btn btn-secondary" asp-controller="Post" asp-action="DetailedPost" asp-route-id="@Model.ElementAt(i).PostID">Reply</a>
                </td>
                <td>@Model.ElementAt(i).UpvoteCount</td>
            </tr>
        }
    </table>
</div>

