@model IEnumerable<Post>

<div class="container">
    <p>
        <a class="btn btn-secondary"
           asp-controller="Post"
           asp-action="Create">Create new Post</a>
    </p>
    <h1>@ViewBag.CurrentViewName</h1>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>PostDate</th>
            <th>User</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
        @foreach (var post in Model)
        {
            <tr>
                <td>@post.PostID</td>
                <td>
                    <a asp-controller="Post"
                       asp-action="DetailedPost"
                       asp-route-id="@post.PostID">@post.Title</a>
                </td>
                @* Det over her er en link til detailed view av en post. *@
                <td>@post.PostDate</td>
                <td>@post.User.Name</td>
                <td>
                    <img src="@post.ImageUrl" alt="Post image" style="max-width: 80px; max-height: 80px;" />
                </td>
                <td>
                    <a class="btn btn-secondary" asp-action="Update" asp-route-id="@post.PostID">Update</a>
                    <a class="btn btn-secondary" asp-action="Delete" asp-route-id="@post.PostID">Delete</a>
                    <a class="btn btn-secondary" asp-controller="Post" asp-action="DetailedPost" asp-route-id="@post.PostID">Reply</a>
                </td>
            </tr>
        }
    </table>
</div>

