@model Post
@{
    ViewData["Title"] = "Delete";
}

<h3 style="text-align:center">Are you sure you want to delete this post??!?</h3>
<hr />
<div style="text-align:center">
    <dl class="row">
        <dt class="col-xs-5">Title</dt>
        <dd class="col-xs-6">@Model.Title</dd>

        <dt class="col-xs-5">Upvotes</dt>
        <dd class="col-xs-6">@Model.UpvoteCount</dd>

        <dt class="col-xs-5">Subforum</dt>
        <dd class="col-xs-6">@Model.SubForum</dd>

        <dt class="col-xs-5">Image URL</dt>
        <dd class="col-xs-6">@Model.ImageUrl</dd>
    </dl>

    <form asp-action="DeleteConfirmed" asp-route-id="@Model.PostID" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="DetailedPost" asp-route-id="@Model.PostID" class="btn btn-secondary">Cancel</a>
    </form>
</div>
