@model PostDetailsViewModel

<h3 class="my-5">
    @Model.Post.Title
</h3>

<div class="row gx-5">
    <img alt="@Model.Post.Title" src="@Model.Post.ImageUrl" class="img-fluid col-5" />
    <div class="col-7">
        <h5>@Model.Post.Text</h5>
        <h5>Posted by: <a asp-controller="User" 
                          asp-action="Table" 
                          asp-route-id="@Model.Post.UserId">@Model.User.Name</a>
        </h5>
        <h6 class="pull-right">@Model.Post.PostDate</h6>
        <p><a class="btn btn-secondary" href="/Post/Posts">Back to classic view</a></p>
        <p><a class="btn btn-secondary" href="/Post/Card">Back to card view</a></p>
        <p><a class="btn btn-secondary">Reply</a></p>
    </div>
</div>

